# Enable Rewriting
RewriteEngine on

RewriteRule ^UI/css/materialize.min.css UI/css/materialize.min.css
RewriteRule ^UI/css/style.css UI/css/style.css
RewriteRule ^UI/js/materialize.min.js UI/js/materialize.min.js
RewriteRule ^UI/js/jquery-2.1.1.min.js UI/js/jquery-2.1.1.min.js
RewriteRule ^/404.html 404.html

RewriteRule !^UI/css/materialize.min.css index.php
RewriteRule !^UI/css/style.css index.php
RewriteRule !^UI/js/materialize.min.js index.php
RewriteRule !^UI/js/jquery-2.1.1.min.js index.php