.clean100{
  clear: both;
  height: 90px;
}
.page_404, .maintenance {
  padding-top: 10%;
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}
.documentation {
  margin-top : 2%;
  margin-bottom: 2%;
  margin-left: 20%;
  margin-right:20%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
}
footer {
  height: 50px;
  width:100%;
  line-height: 50px;
}
p.copyright {
  width: 100%;
  text-align: center;
  color:white;
}
.sub-section {
  padding-left: 6%;
  padding-right: 6%;
}
input[type=submit]{
  display: block;
}
.height_20px {
  height: 20px;
  width: 100%;
}
.container{
  min-height: 800px;
}
select{
  display: block;
}
